<div class="col mb-3">
    <div class="col-md-12 mb-3 mt-3">
      <button  style="background-color: transparent; border: none;" *ngIf="playImage">
        <img [src]="playImage" class="rounded-circle" width="200px" height="200px" />
      </button>
    </div>
    <hr>
    <div class="col-md-12">
      <div class="col-md-12 mb-3">
        <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;Information du {{origin}}</h2>
      </div>
      <div class="col-md-12 mb-3" class=" alert alert-danger" *ngIf="errorsMsg.length>0">
        <div *ngFor="let msg of errorsMsg">
          <span>{{msg}}</span>
        </div>

      </div>
      <div class="col-md-12">
        <form>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nom" name="nom" [(ngModel)]="clientfournisseur.nom">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Adresse 1" name="adresse1" [(ngModel)]="adresse.adresse1" >
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Prenom"  name="prenom" [(ngModel)]="clientfournisseur.prenom" >
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Adresse 2"  name="adresse2" [(ngModel)]="adresse.adresse2" >
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <input type="email" class="form-control" placeholder="E-mail" name="email" [(ngModel)]="clientfournisseur.email">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Ville"  name="ville" [(ngModel)]="adresse.ville">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Telephone" name="numTel" [(ngModel)]="clientfournisseur.numTel">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Code postal"  name="codePostale" [(ngModel)]="adresse.codePostale">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              &nbsp; <input type="file" class="file-upload" (change)="onFileSelected($event)"  >
              <input type="hidden" name="photo"   [value]="pathFile"  >
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Pays" name="pays" [(ngModel)]="adresse.pays" >
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12 text-right">
      <button class="btn btn-danger mr-3" (click)="cancelClick()">
        <i class="fas fa-ban"></i>&nbsp;
        Annuler
      </button>
      <button class="btn btn-primary"  (click)="enregister()">
        <i class="fas fa-save"></i>&nbsp;
        Enregitrer
      </button>
    </div>

  </div>
