
<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 custom-border-right p-1 text-center mb-1 mt-1 " *ngIf="article.image">
      <img [src]="'http://localhost:8082/file/image/'+article.image" width="100px" height="100px" alt="article">
    </div>

  <!--  Details article-->
    <div class="col-md-5 custom-border-right mb-1 mt-1 "  >
      <div class="col">
        <div class="row">
          <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
          <div class="col-md-11">{{article.codeArticle}}</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
          <div class="col-md-11">{{article.designation}}</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
          <div class="col-md-11">{{article.prixUnitaireHt}}€</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
          <div class="col-md-11">{{article.prixUnitaireTtc}} €</div>
        </div>
      </div>
    </div>

  <!--  details categorie-->
    <div class="col-md-3 custom-border-right mb-1 mt-1 ">
      <div class="row">
        <div class="col-md-2">
          <i class="fas fa-flag-checkered blue-color"></i>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">{{article.categorie?.code}}</div>
            <div class="col-md-12">{{article.categorie?.designation}}</div>
          </div>
        </div>
      </div>
    </div>

  <!--  boutons action-->
    <div class="col-md-3 mb-1 mt-1 ">
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-link" (click)="modifierArticle( article.id)">
            <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modalDeleteArticle"  (click)="selectArticlePourSupprimer(article.id)">
            <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link ">
            <i class="far fa-list-alt"></i>&nbsp;<br> Details
          </button>
        </div>
      </div>
    </div>
    <!-- Modal -->
  <div class="modal fade" id="modalDeleteArticle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Etes vous-sur de vouloir supprimer cet article?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  (click)="annulerSuppressionArticle()"> <i class="fas fa-ban"></i> Annuler</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  (click)="confirmerEtSupprimerArticle()"> <i class="fas fa-trash-alt"></i> Supprimer</button>
        </div>
      </div>
    </div>
  </div>
  </div>

